input[type=text] {
    width: 230px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding-right: 50px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
   
}
button {
    position: absolute;
    width: 70px;
    height: 40px;
    
    background-color: white;
  
   
}
